<div class="modal-body">
  <div class="modal-photo-wrapper">
    <a [href]="data.photo" target="_blank" rel="noopener">
      <img [src]="data.photo" [alt]="data.name" class="modal-photo"/>
    </a>
  </div>

  <div class="modal-name">
    <strong>{{ data.name }}</strong>
  </div>

  <div class="modal-info">
    <ul class="bio-list">
      <li><strong>Datum Rođenja:</strong> {{ data.dob }}</li>
      <li><strong>Studij:</strong> {{ data.program }}</li>
      <li><strong>Fakultet:</strong> {{ data.university }}</li>
      <li><strong>Hobi:</strong> {{ data.hobbies }}</li>
      <li><strong>Kontak:</strong> {{ data.contact }}</li>
      <li *ngIf="data.audio">
        <strong>Poslušaj me:</strong>
        <audio [src]="data.audio" controls></audio>
      </li>
    </ul>
  </div>
</div>
