<mat-toolbar color="primary" class="custom-header">
  <div class="header-container">
    <button mat-button class="header-link" (click)="handleButtonClick()">
      <img [ngSrc]="'assets/icons/' + leftIcon"
           alt="Sport icon"
           class="header-icon"
           height="24"
           width="24"/>

      <span class="link-text">{{ headerText }}</span>

      <img [ngSrc]="'assets/icons/' + rightIcon"
           alt="Sport icon"
           class="header-icon"
           height="24"
           width="24"/>
    </button>
  </div>
</mat-toolbar>
