<footer class="site-footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="/assets/photos/ferit-logo.bmp" alt="FERIT logo"/>
    </div>

    <div class="footer-text">
      <p>
        Web stranica izrađena za vrijeme pohađanja
        <a href="https://www.ferit.unios.hr/" target="_blank" rel="noopener">Fakulteta elektrotehnike, računarstva i
          informacijskih tehnologija u Osijeku</a>
        u sklopu kolegija
        <a href="https://www.ferit.unios.hr/upisi-i-studijski-programi/strucni-prijediplomski-studij#racunarstvo#SR6-02"
           target="_blank" rel="noopener">Multimedijska tehnika</a>.
      </p>
    </div>
  </div>
</footer>

