<div class="video-wrapper">
  <div class="video-half">
    <video autoplay muted loop playsinline preload="auto" class="background-video">
      <source src="assets/videos/basketball.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>

    <div class="video-overlay"></div>

    <div class="overlay-content">Perin's Sport</div>
  </div>

  <div class="video-half">
    <video autoplay muted loop playsinline preload="auto" class="background-video">
      <source src="assets/videos/football.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>

    <div class="video-overlay"></div>

    <div class="overlay-content">Marijin's Sport</div>
  </div>
</div>

<app-student-gallery></app-student-gallery>
