<div class="page-wrapper">
  <div class="page-header">
    <a class="back-button" routerLink="/">
      &#8592; Povratak
    </a>
  </div>

  <div class="split-page-container">
    <div class="page-section left-section" [@slideInRight]>
      <div class="section-overlay"></div>
      <div class="section-content">
        <h2>Sergej</h2>
        <button class="section-button" (click)="openSportModal('Sergej')">
          Saznaj više
        </button>
      </div>
    </div>

    <div class="page-section right-section" [@slideInLeft]>
      <div class="section-overlay"></div>
      <div class="section-content">
        <h2>Luka</h2>
        <button class="section-button" (click)="openSportModal('Luka')">
          Saznaj više
        </button>
      </div>
    </div>
  </div>
</div>
